:root {
    --header-height: 3.5rem;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background-color: black;
    color: hsl(from palevioletred calc(h*1) calc(s*1.4) calc(l*0.7));
    /* font-family: serif; */
}

.header {
    position: fixed;
    position: -webkit-fixed;
    width: 100%;
    /* alpha will be increased with JavaScript */
    background-color: rgba(27, 116, 132, 0.0);
    height: var(--header-height);
}

.header > p, header > h1 {
    text-align: center;
    margin: 0 auto;
}

body > div:nth-of-type(2) {
    width: 100%;
    max-height: calc(100vh - 4rem);
    overflow: hidden;
}

video {
    width: 100%;
}

nav {
    /* I haven't been able to explain or modify the gap
       appearing after the video.
       Thus, I'm using a hack to close the gap. */
    transform: translateY(-10px);
    position: sticky;
    top: calc(var(--header-height) + 10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(from palevioletred calc(h*1) calc(s*1.4) calc(l*0.7));
}

nav > a {
    padding: 14px 16px;
}

main {
    margin-bottom: 30px;
}

main > div:first-child {
    width: 75%;
    margin: 4rem auto 4rem;
}

main > div:first-child > p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.2rem 0;
}

main > div:nth-child(2) {
    margin: 0 auto;
}

main > div:nth-child(2) > div {
    display: flex;
}

@media (width >= 600px) {
    .visuals {
        width: 75%;
    }

    .visuals > div {
        justify-content: space-between;
        align-items: center;
    }

    .visuals > div:nth-of-type(odd) {
        flex-direction: row-reverse;
    }

    .visuals > div:nth-of-type(even) {
        flex-direction: row;
    }

    .visuals > div > * {
        width: 49%;
    }
}

@media (width < 600px) {
    .visuals > div {
        flex-direction: column;
    }
}

main > div:nth-child(2) > div {
    margin: 10px;
}

.visuals p {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
}

#team {
    width: 80%;
    margin: 0 auto;
}

#team > h1 {
    text-align: center;
}

#team > div:first-of-type {
    text-align: center;
    margin-bottom: 20px;
}

#team > div:nth-of-type(2) {
    display: grid;
    gap: 40px;
}

@media (width >= 600px) {
    #team > div:nth-of-type(2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (width < 600px) {
    #team > div:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
    }
}

.team-member-card {
    display: grid;
}

.team-member-card > img {
    width: 100%;
}

.team-member-card > div > p:nth-of-type(1) {
    margin: 7px 0 0;
    font-weight: bold;
}

.team-member-card > div > p:nth-of-type(2) {
    margin: 0;
    font-weight: bolder;
}

#contact {
    text-align: center;
}

footer > a {
    margin: 0 5px;
}

.concerts {
    background-image: url("/assets/images/poster.png");
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

#concerts {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}

#concerts > h1 {
    margin: 42px 0;
}

#concerts > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}

#concerts > div:first-of-type {
    margin-bottom: 20px;
}

.concert-card > p {
    margin: 0 0 10px 0; 
}

.concert-card > p:first-of-type {
    font-weight: bold;
}

.concert-card > p:last-of-type {
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
